In [11]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')   #한글처리
import seaborn as sns
import pandas as pd

In [12]:
df_I10= pd.read_csv('../../datasets/Join_Collection_NSC2_BND_M20.csv')
df_I10.columns

Index(['Unnamed: 0', 'EDC_SBA', 'OPRTN_YN', 'MDCARE_DD_CNT', 'BTH_YYYY',
       'MCARE_RSLT_TYPE', 'VSHSP_DD_CNT', 'EDC_ADD_RT'],
      dtype='object')

## 설명변수 
- 요양일수(MDCARE_DD_CNT)
- 진료결과구분(MCARE_RSLT_TYPE)
- 심결가산율(EDC_ADD_RT)

In [4]:
df_I10_Goni = df_I10[['MDCARE_DD_CNT','MCARE_RSLT_TYPE', 'EDC_ADD_RT']]
df_I10_Goni

      MDCARE_DD_CNT  MCARE_RSLT_TYPE  EDC_ADD_RT
0                 1              5.0        0.15
1                 2              5.0        0.15
2                 1              5.0        0.15
3                 1              1.0        0.15
4                 1              5.0        0.15
...             ...              ...         ...
4200              1              1.0        0.15
4201              1              1.0        0.15
4202              1              1.0        0.15
4203              1              1.0        0.15
4204              1              1.0        0.15

[4205 rows x 3 columns]

In [5]:
df_I10_Goni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4205 entries, 0 to 4204
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MDCARE_DD_CNT    4205 non-null   int64
 1   MCARE_RSLT_TYPE  4205 non-null   float64
 2   EDC_ADD_RT       4205 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 98.7 KB

In [6]:
df_I10_Goni.describe()

       MDCARE_DD_CNT  MCARE_RSLT_TYPE   EDC_ADD_RT
count    4205.000000      4205.000000  4205.000000
mean        1.275149         1.899168     0.159907
std         2.216228         1.752071     0.036120
min         1.000000         1.000000     0.110000
25%         1.000000         1.000000     0.150000
50%         1.000000         1.000000     0.150000
75%         1.000000         1.000000     0.150000
max        60.000000         9.000000     0.300000

In [8]:
df_I10_Goni['MDCARE_DD_CNT'].value_counts()

1     3800
2      275
3       61
4       28
6       10
5        8
31       6
30       5
60       2
8        2
7        2
23       1
21       1
27       1
37       1
10       1
13       1
Name: MDCARE_DD_CNT, dtype: int64

In [9]:
df_I10_Goni['MCARE_RSLT_TYPE'].value_counts()

1.0    3296
5.0     871
9.0      37
2.0       1
Name: MCARE_RSLT_TYPE, dtype: int64

In [10]:
df_I10_Goni['EDC_ADD_RT'].value_counts()

0.15    3588
0.25     214
0.11     157
0.30     146
0.20      82
0.18      18
Name: EDC_ADD_RT, dtype: int64