In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')   #한글처리
import seaborn as sns
import pandas as pd

In [2]:
df_I10= pd.read_csv('../../datasets/Join_Collection_NSC2_BND_M20.csv')
df_I10.columns

Index(['Unnamed: 0', 'EDC_SBA', 'OPRTN_YN', 'MDCARE_DD_CNT', 'BTH_YYYY',
       'MCARE_RSLT_TYPE', 'VSHSP_DD_CNT', 'EDC_ADD_RT'],
      dtype='object')

## 설명변수 
- 수술 여부 (OPRTN_YN)
- 입내원일수 (VSHSP_DD_CNT) 
- 출생년도 (BTH_YYYY)

In [4]:
df_I10_H = df_I10[['OPRTN_YN','VSHSP_DD_CNT','BTH_YYYY']]
df_I10_H

      OPRTN_YN  VSHSP_DD_CNT BTH_YYYY
0            0             1   1921LE
1            0             2   1921LE
2            0             1   1921LE
3            0             1   1921LE
4            0             1   1921LE
...        ...           ...      ...
4200         0             1     2005
4201         0             1     2005
4202         0             1     2005
4203         0             1     2005
4204         0             1     2005

[4205 rows x 3 columns]

In [5]:
df_I10_H.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4205 entries, 0 to 4204
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OPRTN_YN      4205 non-null   int64
 1   VSHSP_DD_CNT  4205 non-null   int64
 2   BTH_YYYY      4205 non-null   object
dtypes: int64(2), object(1)
memory usage: 98.7+ KB

In [6]:
df_I10_H.describe(include='object') # 범주형 데이터에 대한 요약 통계 생성

       BTH_YYYY
count      4205
unique       63
top        1940
freq        236

In [7]:
df_I10_H.describe() # 연속형 데이터에 대한 요약 통계 생성

          OPRTN_YN  VSHSP_DD_CNT
count  4205.000000   4205.000000
mean      0.006421      1.214507
std       0.240335      1.540333
min       0.000000      1.000000
25%       0.000000      1.000000
50%       0.000000      1.000000
75%       0.000000      1.000000
max       9.000000     37.000000