In [6]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')   #한글처리
import seaborn as sns
import pandas as pd

In [7]:
df_I10= pd.read_csv('../datasets/Join_Collection_NSC2_BND_M20.csv')
df_I10.columns

Index(['Unnamed: 0', 'MDCARE_STRT_DT', 'BTH_YYYY', 'OFIJ_TYPE',
       'MCARE_SUBJ_CD', 'OPRTN_YN', 'ED_RC_TOT_AMT'],
      dtype='object')

In [8]:
df_I10

,Unnamed: 0,MDCARE_STRT_DT,BTH_YYYY,OFIJ_TYPE,MCARE_SUBJ_CD,OPRTN_YN,ED_RC_TOT_AMT
0,0,20020710,1921LE,0,1,0,7570
1,1,20020805,1921LE,0,1,0,18160
2,2,20021017,1921LE,0,1,0,7570
3,3,20071008,1921LE,0,23,0,14200
4,4,20040312,1921LE,0,1,0,7310
...,...,...,...,...,...,...,...
4624,4624,20051220,2005,0,1,0,9050
4625,4625,20050614,2005,0,1,0,9050
4626,4626,20050716,2005,0,1,0,9050
4627,4627,20060123,2005,0,1,0,9380
4628,4628,20101125,2005,0,1,0,12280

In [4]:
df_I10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4629 non-null   int64
 1   MDCARE_STRT_DT  4629 non-null   int64
 2   BTH_YYYY        4629 non-null   object
 3   OFIJ_TYPE       4522 non-null   object
 4   MCARE_SUBJ_CD   4629 non-null   int64
 5   OPRTN_YN        4629 non-null   int64
 6   ED_RC_TOT_AMT   4629 non-null   int64
dtypes: int64(5), object(2)
memory usage: 253.3+ KB

In [9]:
df_I10.describe(include='object')

       BTH_YYYY OFIJ_TYPE
count      4629      4522
unique       64         2
top        1940         0
freq        240      4520