In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS'] #Database 선택

In [4]:
collection = database['Join Collection NSC2_BND_M20'] # collection 선택

In [5]:
cursor = collection.find({"SICK_SYM1":"I10"})

In [6]:
list_I10 = list(cursor) # casting

In [7]:
df_I10 = pd.DataFrame(list_I10)

In [8]:
df_I10

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,MCARE_SUBJ_CD,...,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD2
0,64e6bd25e31b2222fb5fec13,646257,1921LE,200805.0,A15-A19,2002070306096,57097,20020710,3,1,...,1,1,30,5.0,0.15,7570,3000,4570,2002,NaN
1,64e6bd25e31b2222fb5fec18,646257,1921LE,200805.0,A15-A19,2002080588993,57097,20020805,3,1,...,2,2,60,5.0,0.15,18160,6000,12160,2002,NaN
2,64e6bd25e31b2222fb5fec1a,646257,1921LE,200805.0,A15-A19,2002100841957,57097,20021017,3,1,...,1,1,30,5.0,0.15,7570,3000,4570,2002,NaN
3,64e6bd25e31b2222fb5fec71,646257,1921LE,200805.0,A15-A19,2007101419963,75196,20071008,3,23,...,1,1,7,1.0,0.15,14200,4200,10000,2007,NaN
4,64e6bd25e31b2222fb5fee56,966199,1921LE,201409.0,J69,2004030950967,44114,20040312,3,1,...,1,1,7,5.0,0.15,7310,1500,5810,2004,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4624,64e6bd4ee31b2222fb61d1a9,314882,2005,NaN,NaN,2005120635229,110842,20051220,3,1,...,1,1,30,1.0,0.15,9050,3000,6050,2005,NaN
4625,64e6bd4ee31b2222fb61d1aa,314882,2005,NaN,NaN,2005060585142,110842,20050614,3,1,...,1,1,30,1.0,0.15,9050,3000,6050,2005,NaN
4626,64e6bd4ee31b2222fb61d1ab,314882,2005,NaN,NaN,2005070407648,110842,20050716,3,1,...,1,1,30,1.0,0.15,9050,3000,6050,2005,NaN
4627,64e6bd4ee31b2222fb61d1b4,314882,2005,NaN,NaN,2006010136092,110842,20060123,3,1,...,1,1,30,1.0,0.15,9380,3000,6380,2006,NaN
4628,64e6bd4ee31b2222fb61d213,314882,2005,NaN,NaN,2010110318764,127359,20101125,3,1,...,1,1,30,1.0,0.15,12280,1500,10780,2010,NaN

In [9]:
df_I10.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'RN_KEY', 'RN_INST',
       'MDCARE_STRT_DT', 'FORM_CD', 'MCARE_SUBJ_CD', 'SICK_SYM1', 'OFIJ_TYPE',
       'OPRTN_YN', 'MDCARE_DD_CNT', 'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT',
       'MCARE_RSLT_TYPE', 'EDC_ADD_RT', 'ED_RC_TOT_AMT', 'EDC_SBA',
       'EDC_INSUR_BRDN_AMT', 'STD_YYYY', 'COD2'],
      dtype='object')

### 필요한 컬럼 내역
목표변수 :  심결본인부담금 (EDC_SBA)

설명변수
- 수술여부(OPRTN_YN)
- 입내원일수 (VSHSP_DD_CNT)
- 생년월일 (BTH_YYYY)
- 진료결과구분(MCARE_RSLT_TYPE)
- 요양일수(MDCARE_DD_CNT)
- 심결가산율(EDC_ADD_RT)

In [10]:
df_I10 = df_I10[['EDC_SBA','OPRTN_YN','MDCARE_DD_CNT','BTH_YYYY','MCARE_RSLT_TYPE','VSHSP_DD_CNT','EDC_ADD_RT']]
df_I10

,EDC_SBA,OPRTN_YN,MDCARE_DD_CNT,BTH_YYYY,MCARE_RSLT_TYPE,VSHSP_DD_CNT,EDC_ADD_RT
0,3000,0,1,1921LE,5.0,1,0.15
1,6000,0,2,1921LE,5.0,2,0.15
2,3000,0,1,1921LE,5.0,1,0.15
3,4200,0,1,1921LE,1.0,1,0.15
4,1500,0,1,1921LE,5.0,1,0.15
...,...,...,...,...,...,...,...
4624,3000,0,1,2005,1.0,1,0.15
4625,3000,0,1,2005,1.0,1,0.15
4626,3000,0,1,2005,1.0,1,0.15
4627,3000,0,1,2005,1.0,1,0.15
4628,1500,0,1,2005,1.0,1,0.15

In [11]:
df_I10.isnull().sum()

EDC_SBA              0
OPRTN_YN             0
MDCARE_DD_CNT        0
BTH_YYYY             0
MCARE_RSLT_TYPE    424
VSHSP_DD_CNT         0
EDC_ADD_RT           0
dtype: int64

In [12]:
df_I10 = df_I10.dropna()
df_I10

,EDC_SBA,OPRTN_YN,MDCARE_DD_CNT,BTH_YYYY,MCARE_RSLT_TYPE,VSHSP_DD_CNT,EDC_ADD_RT
0,3000,0,1,1921LE,5.0,1,0.15
1,6000,0,2,1921LE,5.0,2,0.15
2,3000,0,1,1921LE,5.0,1,0.15
3,4200,0,1,1921LE,1.0,1,0.15
4,1500,0,1,1921LE,5.0,1,0.15
...,...,...,...,...,...,...,...
4624,3000,0,1,2005,1.0,1,0.15
4625,3000,0,1,2005,1.0,1,0.15
4626,3000,0,1,2005,1.0,1,0.15
4627,3000,0,1,2005,1.0,1,0.15
4628,1500,0,1,2005,1.0,1,0.15

In [13]:
df_I10.isnull().sum()

EDC_SBA            0
OPRTN_YN           0
MDCARE_DD_CNT      0
BTH_YYYY           0
MCARE_RSLT_TYPE    0
VSHSP_DD_CNT       0
EDC_ADD_RT         0
dtype: int64

In [14]:
df_I10.to_csv('Join_Collection_NSC2_BND_M20.csv')